<div>
    <h2>Main attack type: Ray spell</h2>
    <div>To hit: +7</div>
    <div>Damage: (spell dmg)</div>
</div>
<div>
    <h2>AC & Saves</h2>
    <table class="table">
        <tr>
            <th>AC</th>
            <th>Flat-footed</th>
            <th>Touch</th>
            <th>Speed</th>
            <th>Fortitude</th>
            <th>Reflex</th>
            <th>Will</th>
        </tr>
        <tr>
            <td>29</td>
            <td>26</td>
            <td>18</td>
            <td>30</td>
            <td>+12</td>
            <td>+13</td>
            <td>+18</td>
        </tr>
    </table>
</div>