.container {
    width: 90%;
    margin: auto;
    display: flex;

    border: solid;
}

.basics {
    flex-grow: 0;
    width: 450px;
    height: 90vh;
    border: solid;
}

.details {
    flex-grow: 1;
    max-height: 90vh; 
    overflow-y: scroll;
    border: solid;

    .detail-options {
        display: flex;
        justify-content: space-around;
    }
}