<div class="container">
  <div class="basics">
    <app-character-summary></app-character-summary>
    <app-character-attacks></app-character-attacks>  
  </div>
  <div class="details">
    <nav class="detail-options">
      <span><a (click)="setDetailedView('LEVELS')">Levels</a></span>
      <span><a (click)="setDetailedView('GEAR')">Gear</a></span>
      <span><a (click)="setDetailedView('SPELLS')">Spells</a></span>
    </nav>
    <div *ngIf="this.view === 'LEVELS'">
      <app-character-levels></app-character-levels>
    </div>
    <div  *ngIf="this.view === 'GEAR'">
    <app-character-gear></app-character-gear></div>
    <div *ngIf="this.view === 'SPELLS'">
    <app-character-spells ></app-character-spells>
    </div>

  </div>  
</div>