<h1>Surion</h1>
<div class="flex-justify">
    <span>Elf</span>
    <span>Male</span>
    <span>Chaotic Good</span>
    <span>Level 17</span>
</div>

<table class="table">
    <tr *ngFor = "let stat of stats">
        <td>{{stat}}</td><td>12</td><td>+1</td><td>(base: 10)</td>
    </tr>
</table>

<div>
    <h5>Main attack type: Ray spell</h5>
    <div>To hit: +7</div>
    <div>Damage: (spell dmg)</div>
</div>
<div>
    <h5>AC & Saves</h5>
    <table class="table">
        <tr>
            <th>AC</th>
            <th>Flat-footed</th>
            <th>Touch</th>
            <th>Speed</th>
            <th>Fortitude</th>
            <th>Reflex</th>
            <th>Will</th>
        </tr>
        <tr>
            <td>29</td>
            <td>26</td>
            <td>18</td>
            <td>30</td>
            <td>+12</td>
            <td>+13</td>
            <td>+18</td>
        </tr>
    </table>
</div>