/* You can add global styles to this file, and also import other style files */
.flex-justify {
    display: flex;
    justify-content: space-around;
}

.table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}